body, html {
  font-family: 'Train One', cursive;
  text-align: center;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Train One', cursive;
}

/* Headings */
.big-heading {
  font-family: 'Train One', cursive;
  font-size: 5.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 1rem;
}

/* Containers */
.container-fluid {
  padding: 3% 15% 7%;
}

/* Sections */
.colored-section {
  background-image: url("../images/luke-chesser-pJadQetzTkI-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  /* color: #fff; */
  text-align: left;
}

/* Title Image */
.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 15%;
}


#title .container-fluid {
  padding: 3% 14% 7%;
}

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


/* @media <type> <feature> */

@media only screen and (max-width: 1028px) {
  #title {
    text-align: center;
  }


  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}
